@model IsThereAnyNews.ViewModels.ContactViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            @using (Html.BeginForm("ContactAdministration", "Contact", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm6 form-group">
                        <label for="name">Your name</label>
                        <input placeholder="So we know how to address you" name="name" id="name" type="text" class="form-control">
                    </div>
                    <div class="col-sm6 form-group">
                        <label for="name">Your email</label>
                        <input placeholder="Your email so we can reply" name="email" id="email" type="email" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm12 form-group">
                        <label for="topic">Topic</label>
                        <input placeholder="Topic" id="topic" name="topic" type="text" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm12 form-group">
                        <label for="Message">Message</label>
                        <textarea placeholder="Message" id="Message" name="message" type="text" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary pull-right" name="submit" value="administration">send</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
