@using IsThereAnyNews.SharedData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/itan/myRssChannelsCtrl.js"></script>
    <script src="~/Scripts/itan/filterRawHtml.js"></script>
    <script src="~/Scripts/itan/filterMoment.js"></script>
}

<div class="container" ng-controller="itan.MyRssChannelsCtrl">

    <div class="row">
        <div class="col-sm-3 nocss-mychannel-list text-ellipse-too-long">
            <div class="row">
                <input type="checkbox" ng-model="showAllChannels" />show all channels
            </div>
            <div class="row">
                <div ng-hide="channels.loaded">
                    <div>List of channels loading...</div>
                    <div class="fa-4x fa fa-spinner fa-spin"></div>
                </div>
                <div ng-show="channels.loaded">
                    <a ng-repeat="channel in channels.list.ChannelsSubscriptions"
                       ng-if="showAllChannels || channel.Count!=0"
                       class="btn btn-default btn-xs full-width border-less text-left"
                       ng-class="isCurrent(channel)"
                       ng-click="onChannelClick(channel)">
                        <i class="fa fa-rss left"></i>
                        {{channel.Title}} ({{channel.Count}})
                    </a>
                    <a ng-repeat="channel in channels.list.Users"
                       class="btn btn-xs btn-default full-width border-less text-left"
                       ng-if="showAllChannels || channel.Count!=0"
                       ng-class="isCurrent(channel)"
                       ng-click="onChannelClick(channel)">
                        <i class="fa fa-user left"></i>
                        {{channel.Name}} ({{channel.Count}})
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-9 nocss-rsschannel-container">
            <h2 ng-hide="channel.loaded">Select channel to see news</h2>
            <div ng-show="channel.loaded">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span>
                            <h2>{{channel.entries.ChannelInformation.Title}}</h2>
                            <h4>{{channel.entries.ChannelInformation.Created|moment:'DD/MMMM/YYYY'}}</h4>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="btn btn-xs btn-warning"
                         ng-click="markEntriesRead(channel.entries)">
                        mark all read
                    </div>
                </div>
                <div class="row nocss-rss-item-list">
                    <div class="col-sm-12">
                        <div class="panel-group" id="accordion" role="tablist">
                            <div class="panel panel-default" ng-repeat="item in channel.entries.RssEntryToReadViewModels">
                                <div class="panel-heading" role="tab">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#rss-{{item.Id}}"
                                           ng-click="markReadWithEvent(channel.entries.StreamType, item)">
                                            <span class="">{{item.RssEntryViewModel.Title}}</span>
                                            <span class="text small right">
                                                {{item.RssEntryViewModel.PublicationDate|moment:'DD/MMMM/YYYY'}}
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="rss-{{item.Id}}"
                                     class="panel-collapse collapse"
                                     role="tabpanel">
                                    <div class="panel-body">
                                        <div ng-bind-html="item.RssEntryViewModel.PreviewText | rawHtml"></div>
                                        <div>
                                            <i ng-click="onThumbsUpClicked(channel.entries.StreamType, item.Id)"
                                               style="color: lightgray"
                                               class="fa fa-thumbs-up"></i>
                                            <i ng-click="onThumbsDownClick(channel.entries.StreamType, item.Id)"
                                               style="color: lightgray"
                                               class="fa fa-thumbs-down"></i>
                                            <i ng-click="onMarkUnreadClicked(channel.entries.StreamType, item.Id)"
                                               style="color: lightgray"
                                               class="fa fa-undo"></i>
                                            <i ng-click="onShareClicked(channel.entries.StreamType, item.Id)"
                                               style="color: lightgray"
                                               class="fa fa-share-alt"></i>
                                            <i ng-click="onCommentsClicked(channel.entries.StreamType, item.Id)"
                                               style="color: lightgray"
                                               class="fa fa-commenting-o"></i>
                                            <i ng-click="onArticleBodyClicked(channel.entries.StreamType, item.Id, item.RssEntryViewModel.Url)"
                                               style="color: black"
                                               class="fa fa-external-link"></i>
                                            <i ng-click="onReadLaterClicked(channel.entries.StreamType, item.Id)"
                                               style="color: lightgray"
                                               class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
