`@model List<IsThereAnyNews.Services.Implementation.ActivityPerWeek>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Activity per weeks</h3>

    @foreach (var a in Model.OrderBy(x => x.WeekNumber))
    {
        <div class="row col-lg-12">
            <span>Week: @a.WeekNumber</span>
            <span>Rss read: @a.RssCount</span>
        </div>
    }
</div>  