@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-lg-12">
        @Html.ActionLink("Top 10 channels", "Channels", "Statistics", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Top 10 news", "News", "Statistics", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Top 10 active users", "Users", "Statistics", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Activity per week", "ActivityPerWeek", "Statistics", null, new { @class = "btn btn-default" })
    </div>
</div>