@model IsThereAnyNews.Services.Implementation.NewsStatisticsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var news in Model.List)
{
    <h1>@news.Name</h1>
    <h2>Subscribers: @news.Count</h2>
}
