@model IsThereAnyNews.ViewModels.Login.AuthorizationIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
@foreach (var provider in Model.Providers)
{
    <div>
        @Html.ActionLink("Login with " + provider.Caption, "SocialLogin", new { id = provider.AuthenticationType })
    </div>
}