@model IsThereAnyNews.ViewModels.Login.AuthorizationIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row text-center">
        <h1>If you dont have an account new one will be created for you</h1>
        <h3>Current registration status is @Model.CurrentRegistrationStatus</h3>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            @foreach (var provider in Model.Providers)
            {
                <a href="@Url.Action("SocialLogin", "Login", new { id = provider.AuthenticationType })" class="btn btn-lg btn-default full-width">@provider.Caption</a>
            }
        </div>
    </div>
</div>