@model IsThereAnyNews.ViewModels.LoginSuccessViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
Hey, you've made it. Super!
@Html.ActionLink("Home", "Index", "Home")