@model IsThereAnyNews.Mvc.ViewModels.RssChannelsIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

@foreach (var channel in Model.LoadAllChannels)
{
    <div>
        <span>@Html.ActionLink(channel.Title, "Index", "RssChannel", new { id = channel.Id }, null)</span>
    </div>
}
