@model IsThereAnyNews.ViewModels.RssChannelsMyViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-3">
        @foreach (var channel in Model.ChannelsSubscriptions)
        {
            <div data-rss-feed-address="@Url.Action("Index", "RssSubscription", new {id=channel.Id})"
                 class="btn btn-default btn-xs btn-block text-nowrap text-ellipse-too-long nocss-rsschannel">
                @channel.Title (@channel.RssToRead.Count)
            </div>
        }
        <div class="col-lg-9"></div>
    </div>
    <div class="col-lg-9 nocss-rss-container">
        here goes rss
    </div>
</div>

<script type="text/javascript">


    var onSuccessGetRssEntries = function (data, status) {
        $(".nocss-rss-container").html(data);
    };

    var onErrorGetRssEntries = function (data, status) {
        console.log("onErrorGetRssEntries");
    };

    var onSuccessMarkAllRead = function (data, status) {
        console.log("onSuccessMarkAllRead");

    }
    var onErrorMarkAllRead = function (data, status) {
        console.log("onErrorMarkAllRead");
    }

    var onMarkAllReadClick = function (e) {
        var button = $(e.target);
        var subscriptionId = button.data("subscription-id");
        var rssIds = button.data("rss-to-mark-read-id");
        var urlAddress = button.data("mark-all-read-url");

        var ajaxOptions = {
            type: "post",
            data:
                {
                    SubscriptionId: subscriptionId,
                    RssEntries: rssIds
                },
            url: urlAddress,
            success: onSuccessMarkAllRead,
            error: onErrorMarkAllRead
        }
        $.ajax(ajaxOptions);

    }

    var onRssChannelClick = function (e) {
        var button = $(e.target);
        var urlAddress = button.data("rss-feed-address");

        var ajaxOptions = {
            type: "GET",
            dataType: "html",
            url: urlAddress,
            success: onSuccessGetRssEntries,
            error: onErrorGetRssEntries
        }

        $.ajax(ajaxOptions);
    }

    $(document).ready(function () {
        $(".nocss-rsschannel").on("click", onRssChannelClick);
        $(".nocss-rss-container").on("click", ".nocss-mark-all-read", onMarkAllReadClick);
    });
</script>