<div class="col s12">
    @using (Html.BeginForm(MVC.Contact.ContactAdministration(), FormMethod.Post))
    {
        <div class="row">
            <div class="col s6 input-field">
                <input placeholder="So we know how to address you" name="name" id="name" type="text" class="validate">
                <label for="name">your name</label>
            </div>
            <div class="col s6 input-field">
                <label for="name">email</label>
                <input placeholder="Your email so we can reply" name="email" id="email" type="email" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                <label for="topic">Topic</label>
                <input placeholder="Topic" id="topic" name="topic" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                <label for="Message">Message</label>
                <textarea placeholder="Message" id="Message" name="message" type="text" class="validate materialize-textarea"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col offset-s10 s2 input-field">
                <button class="btn" name="submit" value="administration">send</button>
            </div>
        </div>
    }
</div>