<div class="col-sm-12">
    @using (Html.BeginForm(MVC.Contact.Index(), FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-6 form-group">
                <input placeholder="So we know how to address you" name="name" id="name" type="text">
                <label for="name">your name</label>
            </div>
            <div class="col-sm-6 form-group">
                <label for="name">email</label>
                <input placeholder="Your email so we can reply" name="email" id="email" type="email" >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="topic">Topic</label>
                <input placeholder="Topic" id="topic" name="topic" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="Message">Message</label>
                <textarea placeholder="Message" id="Message" name="message" type="text" ></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10 form-group">
                <button class="btn" name="submit" value="administration">send</button>
            </div>
        </div>
    }
</div>