@using System.Security.Claims
@using ClaimTypes = System.IdentityModel.Claims.ClaimTypes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron text-center">
        <h4>New RSS reader for you</h4>
        <h1>Is there any news</h1>
        <h4>Use menu to navigate through page</h4>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        var claims = this.User.Identity as ClaimsIdentity;

        foreach (var claim in claims.Claims)
        {
            <div>@claim.Type : @claim.Value : @claim.Issuer</div>
        }
    }
</div>
