@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron text-center">
        <h4>New RSS reader for you</h4>
        <h1>Is there any news</h1>
        <h4>Use menu to navigate through page</h4>
    </div>
</div>
