@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="text-center">Sorry, but current registration is closed and we are running at max capacity. Please visit again and check for open registrations</h1>
</div>