@model IsThereAnyNews.Services.Implementation.AllUsersPublicProfilesViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @foreach (var profile in Model.Profiles)
    {
        <a href="@Url.Action("Profile",new {id=profile.Id})" class="col-lg-2 btn btn-default" role="button">
            <div>@profile.DisplayName</div>
            <div><i class="fa fa-rss">@profile.ChannelsCount</i></div>
        </a>
    }
</div>