.text-ellipse-too-long {
    text-overflow: ellipsis;
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.navbarfix {
    margin-bottom: 57px;
}

.border-less {
    border: 0;
}

.btn.text-left{
    text-align:left;
}
