@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        Current status of new user registration is: <span class="fa fa-spin fa-spinner"></span>
    </div>
    <div class="row">
        Current number of registered users: <span class="fa fa-spin fa-spinner"></span>
    </div>
    <div class="row">
        Current number subscriptions: <span class="fa fa-spin fa-spinner"></span>
    </div>
    <div class="row">
        Current number of rss news: <span class="fa fa-spin fa-spinner"></span>
    </div>
</div>