@model IsThereAnyNews.ViewModels.AccountDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col s4">
            Registered accounts:
            @foreach (var social in Model.SocialLogins)
            {
                <div>@social.AuthenticationTypeProvider.ToString()</div>
            }
        </div>
        <div class="col s8">
            <div>
                All actions will be shown under this display name:
            </div>
            <div>
                @Model.DisplayName
            </div>
            <div>
                We will contact you via
            </div>
            <div>
                @Model.Email
            </div>
        </div>
    </div>
</div>
