@model System.ServiceModel.Syndication.SyndicationFeed

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
@foreach (var entry in Model.Items)
{
    <div>
        <p>@entry.Title.Text</p>
        <p>@entry.PublishDate</p>
        <p>@entry.Links.First().Uri</p>
        <p>@Html.Raw(entry.Summary.Text)</p>
    </div>
}
