.text-ellipse-too-long {
    text-overflow: ellipsis;
    overflow: hidden;
}

.full-width {
    width: 100%;
}

.navbarfix {
    margin-bottom: 60px;
}

.border-less {
    border: 0;
}

.btn.text-left {
    text-align: left;
}

.navbar-nav {
    & > li {
        & > a {
            &.avatar {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

.btn {
    &.fa-icon-btn {
        padding: 1px 4px !important;
    }
}
