@model IsThereAnyNews.ViewModels.RssChannelIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
<p>@Model.Name</p>
<p>@Model.Added</p>

@if (Model.IsAuthenticatedUser)
{
    if (Model.IsUserSubscribedToRssChannel)
    {
        <button class="btn btn-warning">unsubscribe</button>
    }
    else
    {
        <button class="btn btn-info">subscribe</button>
    }
}
