@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col s4">
            @Html.Action("PublicChannels")
        </div>
        <div class="col s8">
            <h3>Please select channel to see news</h3>
        </div>
    </div>
</div>