@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-3">
        @Html.Action("MyChannelList")
    </div>
    <div class="col-lg-9">
        <h2>Select channel to see news</h2>
    </div>
</div>
