@using IsThereAnyNews.SharedData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/itan/myRssChannelsCtrl.js"></script>
    <script src="~/Scripts/itan/filterMoment.js"></script>
}

<div class="container" ng-controller="itan.MyRssChannelsCtrl">
    <div class="row">
        @*<div class="col s12">
                @using (Html.BeginForm("AddChannel", "RssChannel"))
                {
                    <div class="form-group">
                        <label for="rssChannelLink">Rss channel link</label>
                        <input type="url" name="rssChannelLink" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="rssChannelName">Rss channel name</label>
                        <input type="text" name="rssChannelName" class="form-control" />
                    </div>
                    <button type="submit" name="add channel" class="btn btn-default pull-right">Add channel</button>
                }
            </div>*@
    </div>
    <div class="row">
        <div class="col s3 nocss-mychannel-list">
            <div class="nothing">
                <div ng-hide="channels.loaded">
                    <div>List of channels loading...</div>
                    <div class="fa-4x fa fa-spinner fa-spin"></div>
                </div>

                <ul ng-show="channels.loaded">
                    <li ng-repeat="channel in channels.list.ChannelsSubscriptions"
                        ng-click="onChannelClick('@StreamType.Rss',channel.Id)">
                        <i class="fa fa-rss"></i>
                        {{channel.Title}} ({{channel.RssToRead}})
                    </li>
                    <li ng-repeat="channel in channels.list.Users"
                        ng-click="onChannelClick('@StreamType.Person',channel.Id)">
                        <i class="fa fa-user"></i>
                        {{channel.Name}} ({{channel.Count}})
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s9 nocss-rsschannel-container">
            <h2 ng-hide="channel.loaded">Select channel to see news</h2>
            <div ng-show="channel.loaded">
                <div class="row col s12">
                    <span>
                        <h2>{{channel.entries.ChannelInformation.Title}}</h2>
                        <h4>{{channel.entries.ChannelInformation.Created|moment:'DD/MMMM/YYYY'}}</h4>
                    </span>
                </div>
                <div class="row nocss-rss-item-list">
                    <div class="col s12">
                        <ul>
                            <li ng-repeat="item in channel.entries.RssEntryToReadViewModels">
                                <div>
                                    {{item.RssEntryViewModel.Title}}
                                    <span>
                                        {{item.RssEntryViewModel.PublicationDate|moment:'DD/MMMM/YYYY'}}
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
