@model IsThereAnyNews.ViewModels.RssChannelIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
<p>@Model.Name</p>
<p>@Model.Added</p>

@if (Model.IsAuthenticatedUser)
{
    if (Model.SubscriptionInfo.IsSubscribed)
    {
        <button role="button"
                class="btn-xs btn-error nocss-unsubscribe"
                data-unsubscribe-url="@Url.Action("Unsubscribe", new { id = Model.SubscriptionInfo.ChannelSubscriptionId})">
            unsubscribe
        </button>
    }
    else
    {
        <button role="button"
                class="btn-xs btn-error nocss-subscribe"
                data-subscribe-url="@Url.Action("Subscribe", new { id = Model.ChannelId})">
            subscribe
        </button>
    }
}


<script type="text/javascript">

    var onSuccessUnsubscribe = function(data, status) {
        console.log("onSuccessUnsubscribe");
    };
    var onErrorUnsubscribe = function(data, status) {
        console.log("onErrorUnsubscribe");
    };

    var onSuccessSubscribe = function (data, status) {
        console.log("onSuccessSubscribe");
    };
    var onErrorSubscribe = function (data, status) {
        console.log("onErrorSubscribe");
    };

    var onUnsubscribeClick = function(e) {
        var button = $(e.target);
        var urlAddress = button.data("unsubscribe-url");

        var ajaxOptions = {
            type: "post",
            url: urlAddress,
            success: onSuccessUnsubscribe,
            error: onErrorUnsubscribe
        }
        $.ajax(ajaxOptions);
    }

    var onSubscribeClick = function (e) {
        var button = $(e.target);
        var urlAddress = button.data("subscribe-url");

        var ajaxOptions = {
            type: "post",
            url: urlAddress,
            success: onSuccessSubscribe,
            error: onErrorSubscribe
        }
        $.ajax(ajaxOptions);
    }

    $(document).ready(function () {
        $(".nocss-unsubscribe").on("click",  onUnsubscribeClick);
        $(".nocss-subscribe").on("click", onSubscribeClick);
    });
</script>
